<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  #  JS, CSS, images ko direct serve karo
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  #  folders ko direct allow karo
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  #  Sirf SPA routes ko index.html
  RewriteRule ^ index.html [L]
</IfModule>
